@import '../node_modules/bootstrap/scss/bootstrap';

$utilities: map-merge(
  $utilities,
  (
    'cursor': (
      property: cursor,
      class: cursor,
      responsive: true,
      values: auto pointer grab,
    ),
  )
);

@import 'bootstrap/scss/utilities/api';

body {
  background-color: #dcdde1;
}

.app {
  min-height: 100vh;

  .app__section {
    min-height: 100vh;
    padding: 1rem 0;
  }

  .alert-light {
    --bs-alert-color: #313131;
  }

  .tr-selected {
    background-color: $blue-100;
  }
}
