@import '../node_modules/bootstrap/scss/bootstrap';

$utilities: map-merge(
  $utilities,
  (
    'cursor': (
      property: cursor,
      class: cursor,
      responsive: true,
      values: auto pointer grab,
    ),
  )
);

@import 'bootstrap/scss/utilities/api';

body {
  background-color: #dcdde1;
}

.app {
  min-height: 100vh;

  .app__section {
    min-height: 100vh;
    padding: 1rem 0;
  }

  .alert-light {
    --bs-alert-color: #313131;
  }

  .tr-selected {
    background-color: $blue-100;
  }

  .th-sorted {
    background-color: $gray-200;
  }

  .header-dropdown {
    display: none;
  }

  .dropdown-toggle::after {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .app {
    .app__sidebar {
      flex-direction: column;

      .app__logo {
        margin-bottom: 1.5rem;
      }

      .app__navbar {
        flex-direction: column;
        flex-wrap: nowrap;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .app {
    .app__section {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      .app__sidebar {
        align-items: center;

        .app__navbar {
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .app {
    .app__section {
      .app__sidebar {
        .app__navbar {
          display: none;
        }

        .app_button-logout {
          display: none;
        }

        .header-dropdown {
          display: block;

          .btn {
            padding: 0.2rem 0.4rem;
          }
        }
      }
    }
  }
}
