@import '../node_modules/bootstrap/scss/bootstrap';

body {
  background-color: #dcdde1;
}

.app {
  min-height: 100vh;

  .app__section {
    min-height: 100vh;
    padding: 1rem 0;
  }

  .alert-light {
    --bs-alert-color: #313131;
  }
}
